/* NAV */

.topnav {
    padding: 40px;
    margin-top: 10px;
}

.topnav a {
  text-decoration: none;
  font-family: helvetica;
  font-size: 17px;
  font-weight: lighter;
  color: black;
  list-style: none;
  padding: 10px;
}

.topnav a:hover {
    background-color: #FBC494;
    color: white;
}

/* ALLGEMEIN */

p {
  font-size: 15px;
  font-weight: lighter;
  line-height: 140%;
}


div#container {
  font-family: helvetica;
}

div#main {
  margin-top:20px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 600px;
}

h1 {
  font-size: 20px;
  color: darkred;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


