/* NAV */
html {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
}

div#container {
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
  line-height: 1.5rem;
  position: relative;
}

#main {
  max-width: 56rem;
  margin: 0 auto;
}

header {
  background-color: #fcd165;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1010;
}

.logo {

}

/*
.header-image {
  height: 30rem;
  background-image: url(img/betreuung.jpg);
  background-size: cover;
  background-position: center;
}
*/

.topnav a {
    display: inline-block;
    color: #871800;
    padding: 1rem;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #DC5133;
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  text-decoration: none;
  color: white;
  z-index: 1000;
}

h1 {
  font-size: 20px;
  color: #871800;
}


/* CONTENT */



.author {
  font-style: normal;
  font-weight: bold;
  text-align: right;
  color: #50b8a1;
}

.cit {
  color: #50b8a1;
  font-style: italic;
}

/* ÜBER MICH */

.portrait {
  float: right;
}


@media screen and (max-width: 600px) {
  #home {
    position: relative;
    z-index: 100;
  }

  header {
    position: initial;
  }

  .topnav {
    display: none;
    position: absolute;
    top: 8rem;
    width: 100%;
    background: #fcd165;
    padding: 0.5rem 0;
  }

  a.menu-toggle {
    float: right;
    display: block;
  }

  .topnav a {
    display: block;
    text-align: left;
  }

  .topnav.opened {
    display: block;
    animation: slidein 0.2s linear;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0px);
  }
}

.text {
  padding: 0rem 2rem;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 600px) {
  .text-row {
    display: flex;
    margin: 0 auto;
  }
  .text, .image {
    flex: 1;
    flex-basis: 50%;
    align-self: center;
  }
  .image img {
    display: block;
  }
  .text-row:nth-child(odd) .image {
    order: 1;
  }
  .text-row:nth-child(odd) .text {
    order: 2;
  }
  /*
  .text-row:nth-child(4) .text {
    font-weight: bold;
  }
  */
}
