<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
<title>Pikler SpielRaum</title>

<div id="container">
  <header>

    <nav class="topnav">
      <a href="index.html" id="home"><img src="img/logo.png" alt="logo"></a>
      <a href="uebermich.html">Über mich</a>
      <a href="betreuung.html">Betreuung</a>
      <a href="spielraum.html">Spielraum</a>
      <a href="yoga.html">Yoga</a>
      <a href="kontakt.html">Kontakt</a>
      <a href="links.html">Links</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="toggleMenu()">&#9776;</a>
    </nav>

  </header>

  <div id="main">

  {{ content }}

  </div>
  <footer></footer>
</div>

<script>
function toggleMenu() {
  var topNav = document.querySelector(".topnav");
  topNav.classList.toggle('opened');
}
</script>
